@keyframes border-glow {
    0% {
        border: 3px solid #C0CE1B;
        
        background-color: #FDD7C0;
    }
    25% {
        border: 3px solid #8FdFE2;
        
background-color: rgb(238, 120, 120);    }
    100% {
    
        border: 3px solid #C0CE1B;    
        background-color: rgb(238, 120, 120);
    }
        
}



.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.topRow {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
    background-color: black;
    
}


.icon {
    display: flex;
    
    height: 113px;
    width: 113px;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 760%;
    font-weight: 900;
    margin-bottom: 100px;
}

.header {
    display: flex;
    align-items: center;
    height: 113px;
}

.ngel {
    
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 760%;
    font-weight: 900;
    margin-bottom: 100px;
}

.middleRow {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: black;
}

.middleBox {
    display: flex;
    flex-direction: row;
    background-color: #FDD7C0;
    height: 100%;
    width: 1694px;
}

.glasses {
    height: 10px;
    width: 10px;
    border: 1px solid red;
}

.mBoxLeft {
    height: 100%;
    width: 25%;
    background-size: cover;
}

.mBoxMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.mBoxMiddleTop {
    display: flex;
    height: 40%;
    width: 727px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 400%;
    justify-content: center;
    align-items: center;
}

.mBoxMiddleBottom {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 727px;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    height: 242px;
    max-height: 500px;
    width: 416px;
    max-width: 800px;
    
}

.buttonRow1 {
    display: flex;
    flex-direction: row;
    height: 50%;
    max-height: 80%;
    width: 100%;
    max-width: 120%;
}

.buttonRow2 {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

a {
text-decoration: none;
text-decoration-color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 50%;
    border: 1px solid #c79f87;
    background-color: #FDD7C0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
}

.buttonText {
    display: flex;
    align-self: center;
    justify-self: center;
    text-decoration: none;
}

.buttonLogo {
    height: 50px;
    width: 50px;
    display: none;
}

.button:hover {
    transform: translateZ(40px);
    transform: scale(130%);
    animation: infinite border-glow 5s;
    animation-direction: alternate;
    box-shadow: 6px 6px #dfbda8;
}

.button:active {
    transform: scale(120%);
}

.mBoxRight {
    height: 100%;
    width: 25%;
    background-size: cover;
}

.bottomRow {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: black;
}